<?xml version="1.0"?>
<!--
/**
 * Copyright © Avenyra All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <av_graphql_logger>
            <general>
                <enabled>1</enabled>
                <cached_request_logger>1</cached_request_logger>
            </general>
        </av_graphql_logger>
    </default>
</config>

