<?xml version="1.0"?>
<!--
/**
 * Copyright © Avenyra All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="av_graphql_logger" translate="label" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>GraphQl Logger</label>
            <tab>avenyra</tab>
            <resource>Avenyra_GraphQlLogger::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable</label>
                    <comment>Enable or disable the graphql logger.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cached_request_logger" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable Cached Request Logger</label>
                    <comment>
                        <![CDATA[Enable or disable the graphql logger for cached requests.
                        <br><strong class="colorRed">Warning!</strong> This will impact the performance.]]>
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>

